@import url();
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style:none;
}
.container{
    min-height: 100vh;
    position:relative;
}
table{
    width: 70%;
    margin: auto;
    font-size: larger;
    box-shadow: 1px 2px 3px black;
    margin-bottom: 40px;
}

td{
    padding:20px;
}

input,textarea{
    height: 40px;
    width: 80%;
}

.footer{
    height: 100px;
    background-color: rgba(0, 0, 0,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    color: white;

}

.contacts{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:30px;
    margin-bottom:20px;
}

input[type = 'submit']{
    margin: auto;
    width:20%;
}

.nav-special{
    height: 100px;
    width: 100%;
    background-color: rgb(255, 166, 0);
    position:relative;
    box-shadow: 1px 2px 3px rgb(0, 0, 0);
    margin-bottom: 50px;
}

.nav-special ul{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-around;
    font-size: larger;
    align-items: center;
   
}

.nav-special ul a{
    color:bisque;
}

.nav-special ul a:hover{
    color:red;
    text-shadow:1px 2px 3px black;
}
